@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
    background-color: white;
}
:root {
    --maincolor: #7956fe;
    --color-1: #e91e63;
    --color-2: #f5ae10;
    --color-3: #09d69c;
    --bg-dark: #2b2c2f;
    --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
    --shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
    --black-900: #000000;
    --black-400: #555555;
    --black-100: #f7f7f7;
    --black-000: #ffffff;
    --black-alpha-100: rgba(0, 0, 0, 0.05);
    --transition: all 0.7s ease-in-out;
}
*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
}
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.owl-theme .owl-dots .owl-dot.active span {
    background: var(--black-100) !important;
}
.owl-theme .owl-dots .owl-dot span {
    background: var(--maincolor) !important;
    width: 40px !important;
    height: 10px !important;
}
.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 0;
    padding-top: 60px;
    padding-bottom: 90px;
}
@media (max-width: 1000px) {
    .team .owl-theme .owl-nav.disabled + .owl-dots,
    .what__say .owl-theme .owl-nav.disabled + .owl-dots {
        margin-top: 0;
        padding-top: 60px;
        padding-bottom: 90px;
        margin-left: 80px;
        text-align: left;
    }
}
@media (max-width: 640px) {
    .app .owl-item,
    .ave .owl-item{
        align-items: center;
        display: flex;
        justify-content: center;
    }
}
